@import url(./fonts.css);
*{
    font-family: "Mont";
    margin: 0;
    padding: 0;
    bottom: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
html { scroll-behavior: smooth; }

.container{
    max-width: 970px !important;
    width: 970px;
    margin: 0 auto;

}
.info{
    
    background: url(../img/background.png);
    height: 1930px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 100px;
    z-index: 1;
}

.info .container .logo{
    display: flex;
    justify-content: center;
    
}

 .logotype img{
    width: 350px;

}

.info .container .logo .text{
    display: flex;
    align-items: center;
    margin-left: 2%;

}
.info .container .logo .text h2{
  font-family: 'Mont'; 
  font-weight: 600;
  font-size: 40px;
  
}
.container .infotext{
    height: 465px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container .infotext h1{
    font-size: 96px;
    font-family: 'montb';
    color: #439D90;
}

.info .d-block h2{
    height: 550px;
    background-color: #439D90;
    display: flex;
    align-items: center !important;
    justify-content: center;
    font-family: "montb";
    font-size: 64px;
    color: #fff;
    text-align: center;
}
.wrap {
    height: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .wrap .button {
    min-width: 395px ;
    min-height: 100px;
    display: inline-flex;
    font-family: 'Monts';
    font-size: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    background: #439D90 !important;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 50px;
    outline: none;
    position: relative;
    padding: 10px;
    z-index: 5;
    }
  
  .info .button::before {
    content: '';
    border-radius: 50px;
    min-width: calc(395px + 12px);
    min-height: calc(80px + 12px);
    position: absolute;

  }
  
  .info .button:hover, 
  .info .button:focus {
    color: #ffffff;

  }
  
  .info .button:hover::before, 
  .info .button:focus::before {
    opacity: 1;
  }
  
  .info .button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #439D90;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .info .button:hover::after, 
  .info .button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 395px;
      height: 395px;
      opacity: 0;
    }
  }
.cards{
    padding-top: 45px;
}
  .cards .container{
    height: 430px;
    width: 970px;
    margin-bottom: 45px;
  }
  .cards .container .card{
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    border: 0;   
    background-color: #CDF1EC;
  }

  .cards .container .card .leftinfo{
    padding: 35px 0 35px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .cards .container .card .leftinfo .text h3{
    font-family: 'monts';
    font-size: 32px;
    margin-bottom: 20px;
  }
  .cards .container .card .leftinfo .text h4{
    font-family: 'Mont';
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
  }

  .cards .container .card .icon{
    width: 450px;
    height: 430px;
    background-color: #439D90;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .but .button{
    width: 280px ;
    height: 85px;
    font-family: 'Monts';
    font-size: 28px;
    text-align: center;
    color: #ffffff;
    background: #439D90 !important;
    border: none;
    border-radius: 50px;
    padding: 10px;
  }

  /*footer*/
  .niz{
    background-color: #CDF1EC;
    padding: 20px 0 20px 0;
  }
  .niz .container{
    display: flex;
    justify-content: space-between;
  }
  .niz .container .prava{
    font-family: 'Monts';
    font-size: 12px;
    
  }
  .niz .container .text{
    font-family: 'Mont';
    font-size: 12px;
  }
  
  .niz .container .rightblock .site{
    font-family: 'Monts';
    font-size: 14px;
    text-align: center;
  }
  .niz .container .leftblock{
    display: flex;
    flex-direction: column;
    justify-content: center
  }
  



